body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    color: #333;
    transition: background-color 0.3s, color 0.3s;
    margin: 0;
    padding: 0;
    background-image: url('https://www.shutterstock.com/image-vector/cherry-gingham-picnic-coquette-summer-600nw-2477369379.jpg');
    background-size: cover; /* Ajusta la imagen para que cubra todo el contenedor */
    background-position: center; /* Centra la imagen en el contenedor */
}

.dark-mode {
    background-color: #333;
    color: #f9f9f9;
}

.container {
    width: 90%;
    max-width: 600px;
    margin: auto;
    padding: 20px;
     background: rgba(255, 255, 255, 0.8); /* Fondo blanco con opacidad */
    border-radius: 12px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
};

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

h1 {
    font-size: 1.8em;
    color: #ff4081;
}

.task-input {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
}

input[type="text"],
input[type="date"],
select {
    padding: 10px;
    border: 1px solid #e0e0e0;
    border-radius: 6px;
    flex: 1;
}

.task input[type="checkbox"] {
    margin-right: 10px; 
    cursor: pointer; 
}

.completed {
    text-decoration: line-through;
    color: gray;
    opacity: 0.6; 
}


.tarea-checkbox {
    transform: scale(1.2); 
}

button {
    padding: 10px;
    background: #ff4081;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    flex-shrink: 0;
}

button:hover {
    background: #e6007e;
}

#tareas-lista {
    margin-top: 20px;
}

.task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #e0e0e0;
    border-radius: 6px;
}

.completed {
    text-decoration: line-through;
    color: gray;
}

#progress-bar-container {
    background: #eee;
    height: 10px;
    border-radius: 6px;
    overflow: hidden;
}

#progress-bar {
    height: 100%;
    width: 0;
    background: #ff4081;
    transition: width 0.3s;
}

@media (max-width: 600px) {
    .task-input {
        flex-direction: column;
    }

    .task-input > * {
        width: 100%;
    }
}
